.member-hero{
    background-image: linear-gradient(rgba(4,9,30,0.7), 
    rgba(4,9,30,0.7)), url(../images/member-hero.jpg);
    content: '';
    margin-top: 20px;
    min-height: 40vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.member-hero-contents{
    width: 90%;
    color: coral;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.member-hero-contents h1{
    font-size: 50px;
}

.member-hero-contents p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: coral;
}

@media (max-width:700px) {
    .member-hero{
        min-height: 20vh;
    }

    .member-hero-contents h1{
        font-size: 30px;
    }
    .member-hero-contents p{
        font-size: 20px;
    }
}


/* Our Team section*/
.our-team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    
}
.our-team h2{
    font-size: 36px;
    font-weight: 600;
    color: #f95738;
    /*background: chocolate;
    height: 60px;
    line-height: 60px; */
    
}
.our-team p{
    color: #f95738;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


/* Profile card from hrer */
.our-team-cards{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 80px;
}
    

.our-team-cards .person-detail-card{
    width: 16rem;
    margin: 20px;
}
.our-team-cards p{
    font-size: 14px;
}

.card-img1{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person1.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img2{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person2.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
    
}

.card-img3{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person3.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img4{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person4.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img5{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person1.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img6{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person2.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img7{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person3.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img8{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person4.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img9{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person1.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img10{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person2.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img11{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person3.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img12{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person4.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img13{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person1.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img14{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person2.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img15{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person3.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img16{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person4.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img17{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person1.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img18{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person2.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img19{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person3.jpg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}

.card-img20{
    width: 100%;
    height: 12rem;
    background-image: url('../images/person4.jpeg');
    background-size: cover;
    background-position: center center;
    border: 1px solid black;
    border-radius: 5px 20px 5px;
}




@media screen and (max-width: 800px) {
    .our-team{
        padding-top: 10px;

    }

    
}